* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header h2 {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h2 input {
  border: 0;
  font-size: 20px;
}

.dis {
  text-decoration: line-through;
  color: #ccc !important;
}
